/* @Reset defaults *********/
header, hgroup, nav, section, article, aside, footer, main { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table, figure { margin: 0 0 1.5em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
legend { color: inherit; } /* For IE */
form ul, form ol { list-style: none; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }
.dtstart, .dtend, .published, .updated { border: 0; }
img, video, object, embed { max-width: 100%; height: auto; }

/* @General styles ***/
html {
    background:url("../images/bg.png") repeat-x #fff;
}

@font-face {
	font-family: "opensans";
	src: url("../fonts/OpenSans_Regular.ttf");
}

@font-face {
	font-family: "opensanslight";
	src: url("../fonts/OpenSans_Light.ttf");
}

@font-face {
	font-family: "Font Awesome";
	src: url("../fonts/fontawesome.ttf");
}

body {
    font-family: "opensanslight";
    color: #333;
    word-wrap: break-word;
    margin: 0;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    -webkit-tap-highlight-color: #6bd7f3;
    -moz-tap-highlight-color: #6bd7f3;
}

* {
    color: #000000;
}

.content {

}
main  {
  flex: 1;
}
#page{
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#gen-html-textarea {
    display: none;
}

#gen-html-back-textarea {
    display: none;
}

#gen-card-layout {
    position: relative;
}

#gen-template-frame {
    width: 439px;
    height: 259px;
    margin: 0 auto;
    border: 0;
}

#gen-template-back-frame {
    height: 227px;
    width: 388px;
    display: none;
}

#header {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #CCCCCC;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 6px 20px;
    text-align: right;
    border-top: 2px solid #fff;
}

#header #tabzilla {
  margin-top: -6px;
}


.button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Ubuntu, OpenSansLight, Arial, Tahoma, Ubuntu, "Sans serif";
    font-size: 13px;
    line-height: 18px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    margin-top: 1.25em;
 }

.button:hover {
    -moz-transition: background-position 0.1s linear 0s;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}

.button:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
.button.active, .button:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
    outline: 0 none;
}

.button.disabled, .button[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}

#header span {
    color: silver;
}

.gen-select-template-container {
    margin-top: 100px;
    margin-bottom: 20px;
}

#footer {
    background: #fff;
    margin-top: 20px;
    border-top: 1px solid rgba(0,0,0,.1);
    color: #999999 !important;
    font: 100 0.8em/1.5em "Open Sans","Helvetica Neue",Arial,sans-serif;
    text-align: center;
    color: #bbb;
    overflow: hidden;
}

.help-text {
    color: #666666;
}

.heart {
    color: #D40000;
}

.shortcut-key {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #333333;
    display: inline-block;
    font-size: 13px;
    padding: 2px;
}

.iframe-holder {
  position: relative;
  width: 439px;
  margin: 0 auto;
}

.upload-avatar {
  display: block;
  position: absolute;;
  top: 55px;
  left: 60px;
  opacity: 0;
  cursor: pointer;
}

.upload-avatar.show,
.upload-avatar:hover {
  opacity: 0.9;
}

.upload-icon {
  font-family: "Font Awesome";
  font-size: 50px;
  color: rgba(255, 100, 58, 0.8);
}

.upload-avatar .notification {
  color: rgba(255, 100, 58, 0.8);
  font-size: 11px;
  text-shadow: 0px 0px 2px #727171;
  margin-top: -7px;
}

.upload-avatar input {
  display: none;
}
