<style>
    @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans_Regular.ttf");
    }

    * {
        margin: 0;
        padding: 0;
        color: #333;
        font-family: "Open Sans", Helvetica;
        font-size: 13px;
        background: #ffffff;
    }

    .logo {
        left: 31px;
        position: absolute;
        top: 10px;
    }

    .name {
        font-size: 19px;
        position: absolute;
        top: 10px;
        left: 180px;
        color: #0096DD;
    }

    .subtitle {
        font-size: 13px;
        position: absolute;
        top: 34px;
        left: 180px;
        color: rebeccapurple;
    }

    .skills {
        font-size: 12px;
        left: 180px;
        position: absolute;
        top: 62px;
        color: #000000;
    }

    .skills-inner {
        font-size: 12px;
        left: 200px;
        position: absolute;
        top: 62px;
    }

    .info {
        font-size: 12px;
        left: 25px;
        position: absolute;
        top: 140px;
    }

    .irc {
        font-size: 12px;
        left: 25px;
        position: absolute;
        top: 157px;
    }

    .links {
        font-size: 12px;
        left: 180px;
        position: absolute;
        top: 115px;
        color: #000000;
    }

    .links-inner {
        font-size: 12px;
        left: 200px;
        position: absolute;
        top: 115px;
    }

    .bottom-link {
        font-size: 15px;
        position: absolute;
        width: 100%;
        height: 40px;
        left:0px;
        bottom:0px;
        /* Mozilla red */
        background: #C13832;
    }

    .bottom-link-text {
        font-size: 18px;
        right: 20px;
        position: absolute;
        bottom: 15px;
        background: none;
        color: #fff;
        font-weight: 700;
    }
</style>

<div id="card" class="reps-card">
    <div class="logo">
        <img src="../templates/images/mozilla-webmaker-logo.png" height="120px" width="120px"/>
    </div>
    <div class="name" contenteditable>Pat Doe</div>
    <div class="subtitle" contenteditable>Webmaker</div>
    <div class="skills"><img src="../templates/images/gears.png" /></div><div class="skills-inner" contenteditable>Web Development, Evangelism, Community Building</div>
    <div class="info" contenteditable>Twitter: <span style="color: #0096DD;">@example</span></div>
    <div class="irc" contenteditable>IRC Nick: <span style="color: #0096DD;">xxxx</span></div>
    <div class="links"><img src="../templates/images/comments.png" /></div><div class="links-inner" contenteditable>+91 - 9876543210<br/>john@example.com<br/>webmaker.org/user/username</div>
    <div class="bottom-link"></div>
    <div class="bottom-link-text">webmaker.org</div>
</div>
