<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/fsa-card/front.css">
</head>
<body>
	<div class="logo"><img src="../templates/images/avatar/1.jpg" width="128" height="128" /></div>
	<div class="avatar"><img src="../templates/images/avatar.png" width="128" height="128" /></div>

	<div class="twitter"><span class="txt" contenteditable>twitter</span>&nbsp;<span class="highlight" contenteditable>@Joseph</span></div>
	<div class="irc"><span class="txt" contenteditable>irc.mozilla.org</span>&nbsp;<span class="highlight" contenteditable>Joseph</span></div>

	<div class="name highlight" contenteditable>Joseph D. Cary</div>
	<div class="position" contenteditable>Chemical equipment tender</div>

	<div class="fontawesome lang-ico">&#xf0e6;</div>
	<div class="fontawesome skill-ico">&#xf0ad;</div>
	<div class="fontawesome contact-ico">&#xf08e;</div>

	<div class="lang txt" contenteditable>German, English, Chinese</div>
	<div class="skill txt" contenteditable>community building, visual design, l10n, public relations, evangelism</div>
	<div class="contact">
		<div class="txt" contenteditable>724-696-2183</div>
		<div class="txt" contenteditable>JosephDCary@inbound.plus</div>
		<div class="txt" contenteditable>www.mozillians.org/u/JosephDCary</div>
	</div>
	<div class="footer"></div>
	<div class="volunteer">Volunteer</div>
	<div class="firefox">Firefox</div>
	<div class="studambs">Student Ambassadors</div>
</body>
</html>
