<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/mozillians-card/front.css">
</head>
<body>
	<div class="logo">
		<img src="../templates/images/mozilla-dino.svg" width="90"/>
	</div>
	<div class="name" contenteditable>John Doe</div>
	<div class="subtitle" contenteditable>Mozillian</div>
	<div class="languages"><div class="fontawesome">&#xf0e6;</div></div><div class="languages-inner" contenteditable>English, German, Albanian</div>
	<div class="skills"><div class="fontawesome">&#xf0ad;</div></div><div class="skills-inner" contenteditable>Web Development, Evangelism, Community Building</div>
	<div class="info" contenteditable>Twitter: <span style="color: #0096DD;">@example</span></div>
	<div class="irc" contenteditable>IRC Nick: <span style="color: #0096DD;">xxxx</span></div>
	<div class="links"><div class="fontawesome">&#xf08e;</div></div><div class="links-inner" contenteditable>+91 - 9876543210<br/>john@example.com<br/>mozillians.org/u/username</div>
	<div class="bottom-link"></div>
	<div class="bottom-link-text">
		<img src="../templates/images/mozillians-logo-new.png" width="114"/>
	</div>
	<div class="bottom-position">Volunteer</div>
</body>
</html>
