<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/reps-card/front.css">
</head>
<body>
	<div class="logo"><img src="../templates/images/avatar/3.jpg" width="128" height="128" /></div>
	<div class="avatar"><img src="../templates/images/avatar.png" width="128" height="128" /></div>


	<div class="twitter"><span class="txt" contenteditable>twitter</span>&nbsp;<span class="highlight" contenteditable>@LindaECastaldo</span></div>
	<div class="irc"><span class="txt" contenteditable>irc.mozilla.org</span>&nbsp;<span class="highlight" contenteditable>LindaECastaldo</span></div>

	<div class="name highlight" contenteditable>Linda E. Castaldo</div>
	<div class="position" contenteditable>Tax examiner</div>


	<div class="fontawesome lang-ico">&#xf0e6;</div>
	<div class="fontawesome skill-ico">&#xf0ad;</div>
	<div class="fontawesome contact-ico">&#xf08e;</div>

	<div class="lang txt" contenteditable>English, Spanish</div>
	<div class="skill txt" contenteditable>community building, visual design, l10n, public relations, evangelism, firefoxos</div>
	<div class="contact">

		<div class="txt" contenteditable>601-945-6595</div>
		<div class="txt" contenteditable>LindaECastaldo@inbound.plus</div>
		<div class="txt" contenteditable>www.mozillians.org/u/LindaECastaldo</div>

	</div>
	<div class="footer"></div>
	<div class="volunteer">Volunteer</div>
	<div class="mozilla">mozilla</div>
	<div class="reps">reps</div>
</body>
</html>
