<style>
	* {
		margin: 0;
		padding: 0;
		color: #ffffff;
		font-family: Helvetica;
		font-size: 13px;
		background: #9E312C;
	}

	.logo {
	    left: 31px;
	    position: absolute;
	    top: 46px;
	}

	.name {
		font-size: 19px;
		position: absolute;
		top: 40px;
		left: 205px;
	}

	.subtitle {
		font-style: italic;;
		font-size: 13px;
		position: absolute;
		top: 62px;
		left: 205px;
	}

	.info {
	    font-size: 12px;
	    left: 205px;
	    position: absolute;
	    top: 97px;
	}

	.bottom-link {
        font-size: 15px;
        right: 10px;
        position: absolute;
        top: 198px;
	}
</style>

<div id="card" class="reps-card">
	<div class="logo">
		<img src="../template_images/reps-logo.png"/>
	</div>
	<div class="name" contenteditable="true">John Doe</div>
	<div class="subtitle" contenteditable="true">Mozillian</div>
	<div class="info" contenteditable="true">john@example.com<br/>9876543210<br/>IRC: xxx</div>
	<div class="bottom-link">www.mozilla.org</div>
</div>
