<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/reps-card-2/front.css">
</head>
<body>
	<div class="logo">
		<img src="../templates/images/reps-logo-new.png" height="120px" width="100px"/>
	</div>
	<div class="name" contenteditable>John Doe</div>
	<div class="subtitle" contenteditable>Mozilla Representative in India</div>
	<div class="skills"><div class="fontawesome">&#xf085;</div></div><div class="skills-inner" contenteditable>Web Development, Evangelism, Community Building</div>
	<div class="info" contenteditable>Twitter: <span style="color: #9E312C;">@example</span></div>
	<div class="irc" contenteditable>IRC Nick: <span style="color: #9E312C;">xxxx</span></div>
	<div class="links"><div class="fontawesome">&#xf0e6;</div></div><div class="links-inner" contenteditable>+91 - 9876543210<br/>john@example.com<br/>reps.mozilla.org/u/username</div>
	<div class="bottom-link"></div>
	<div class="bottom-link-text">reps.mozilla.org</div>
</body>
</html>
